:root {
	--text-color: #f90113;
}

.btn {
	border-radius: 8px;
	background-color: azure;
	border: 1px solid white;
	cursor: pointer;
	color: var(--text-color);
	padding: 0.6em 1.2em;
	width: 50%;
	transition: all ease-in-out 3000ms;
}

.btn:hover {
	border-color: var(--text-color);
	outline: 4px auto var(--text-color);
}
.btn:focus,
.btn:focus-visible {
	outline: none;
}
