.video {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.video p {
	text-align: left;
	width: 640px;
	color: #ccc;
	font-size: 1rem;
	line-height: 1.6rem;
	margin-top: 0.5rem;
}

.video h3 {
	margin-top: 2.5rem;
	margin-bottom: 0rem;
	width: 600px;
}
